<?xml version="1.0"?>
<Paths>
    <PEID>C:\Users\DSU\Downloads\PEiD-0.95-20081103\PEiD.exe</PEID>
    <DetectItEasy>C:\Users\DSU\Downloads\die_win32_portable_2.02\die_win32_portable\die.exe</DetectItEasy>
    <PEStudio>C:\Users\DSU\Desktop\pestudio\pestudio.exe</PEStudio>
    <BinaryNinja>C:\Users\DSU\AppData\Local\Vector35\BinaryNinja\binaryninja.exe</BinaryNinja>
    <IDAProDemo>C:\Program Files\IDA Demo 7.2\ida.exe</IDAProDemo>
    <IDAFree>C:\Program Files\IDA Freeware 7.0\ida64.exe</IDAFree>
</Paths>